.icon{
	width: 70px ;
	padding-bottom: 20px;
}

body{
	background: url("background.png");
}

.right-side {
	background: white;
	margin: 10px;
}

.left-side{
	background: white;
	margin: 10px;
}

.footer{
	background: #666666;
	padding: 20px 0;
	width: 100%;
	text-align: center;
	border-top: 5px solid #4aaaa5;
	color: lightgray;
	margin-top: 30px;

}


p{
	float: left;
}

.cat {
    width: 100%;
    margin-bottom: 20px;
  }


.header1{
	font-family: georgia;
	color:  #4aaaa5;
}

.header2{
	font-family: georgia;
	color:  #4aaaa5;
}

.navbar-brand{
	background:  #4aaaa5;
	font-family: georgia;

}

.navbar-default .navbar-brand {
   color: white;
   font-size: 35px;
}

.navbar-default{
	padding: 5px;
	border-bottom: 4px solid lightgray;
}

.navbar-default .navbar-nav>li>a{
	color: gray;
	font-size: 16px;
}


